body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 61px 250px 0 250px;
}

.fs {
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: #fd6f00;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.menu ul li {
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  padding: 10px 14px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li a:active {
  color: black;
}

/* Header */

.header {
  padding: 120px 270px 140px 250px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 698px;
}

.hi {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  margin: 0;
}

.header-name {
  color: #fd6f00;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  margin: 6px 0 4px 0;
}

.header-role {
  color: #000;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 120px */
  letter-spacing: 3px;
  margin: 0;
}

.header-role.last {
  text-align: end;
}

.header-desc {
  color: #000;
  text-align: justify;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  margin: 28px 0 22px 0;
}

.header-hire {
  border-radius: 5px;
  background: #fd6f00;
  border: none;
  width: 188px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  cursor: pointer;
}

.header-person {
  width: 538px;
}

/* About */

.about {
  display: flex;
  padding: 140px 0 140px 0;
  margin: 0 250px 0 200px;
  gap: 40px;
}

.about img {
  width: 680px;
  height: 693px;
  flex-shrink: 0;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me {
  color: #000;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.95px;
  margin: 0;
}

.about-desc {
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  margin: 15px 0;
}
.about-skill-list {
  margin: 0;
  padding: 0;
}

.about-skill-list li {
  list-style-type: none;
}

.about-skill-label {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  margin-bottom: 18px;
}

.slider:disabled {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 12px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 6px;
  background: #fd6f00;
  margin-bottom: 25px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 32px; /* Set a specific slider handle width */
  height: 32px; /* Slider handle height */
  background: #edecec; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 4px solid #fd6f00;
  border-radius: 100%;
}

/* Project */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0;
}

.project-title {
  color: #1e1e1e;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.95px;
  margin: 0;
}

.project-desc {
  color: #000;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
  margin: 0 470px;
  padding: 22px 0 60px 0;
}

.project-list {
  display: flex;
  gap: 44px;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-preview {
  width: 445px;
}

.project-preview-role {
  color: #fd6f00;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.57px;
  margin: 37px 0 10px 0;
}

.project-preview-name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  margin: 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-wrapper h1 {
  margin: 0;
  font-size: 90px;
  margin-top: 60px;
  color: #fd6f00;
}

.icon-wrapper p {
  margin: 0;
  font-size: 24px;
}

.menu-footer {
  margin: 70px 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  background: #545454;
}

.footer-bottom p {
  margin: 26px 0;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.63px;
}

.footer-bottom p span {
  color: #fd6f00;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.63px;
}

/* Skills */

.skill,
.skill-interest {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0;
  padding: 0 0 300px 0;
}

.skill img,
.skill-interest img {
  height: 100px;
}

/* Award */
.award-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 44px;
  margin-top: 60px;
}

.award-card {
  width: 330px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #f8f8f8;
  padding: 54px 18px 10px;
}

.award-card img {
  width: 72px;
  height: 82px;
}

.award-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  margin: 26px 0 15px 0;
}

.award-desc {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.57px;
  height: 120px;
  flex-shrink: 0;
}

/* Skills Interest */

.skills-interest {
  margin: 140px 0;
}

.skill-interest {
  margin: 0;
  padding: 140px 0;
}

/* Education */

.education-title {
  margin-bottom: 80px;
}

.education-item {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.education-item:last-child {
  margin-bottom: 0;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 30px;
  height: 30px;
  background: #fd6f00;
  border-radius: 100%;
}

.line {
  width: 2px;
  height: calc(100% - 38px);
  background-color: #919191;
  margin: 4px 0;
}

.education-wrapper {
  margin: 0 240px;
}

.education-name {
  font-size: 24px;
  margin: 0;
}

.education-desc {
  font-size: 16px;
}
